.container{
  display: flex;
  gap: 10px;
  img{
    height: 150px;
    width: 80px;
    object-fit: cover;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
  }
}
